<!DOCTYPE html>
<html>
 <head>
 <title>NCC WEBSITE Template</title>
 <meta charset="utf-8">
 <link rel="stylesheet" href="./web.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 </head>
 <body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
 <a class="navbar-brand" href="#">ANITS NCC </a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" ariacontrols="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNav">
 <ul class="navbar-nav">
 <li class="nav-item active">
 <a class="nav-link" href="./web.html">Home</a>
 </li>
 <li class="nav-item active">
 <a class="nav-link" href="./about.html">About</a>
 </li>
 
 <li class="nav-item active">
 <a class="nav-link" href="#">Contact</a>
 </li>
 </ul>
 </div>
 </nav>
 <div class="jumbotron bg-dark" >
 <h1 style="color: aliceblue;">Welcome to Official page of Anits Ncc</h1>
 <p style="color: aliceblue;">3 ANDHRA NAVAL UNIT VISHAKAPATNAM.</p>
 </div>
 <div class="container">
 <div class="row">
 <div class="col-sm-4">
 <h3>EVENTS</h3>
 <p>1
    
    National Integration Camps (NIC) 

    2
    
    Special National Integration Camps (SNIC)
    
    3
    
    Leadership Camps/Basic Leadership Camp
    
    4
    
    Basic Leadership Course(BLC) and Advanced Leadership Course (ALC)
    
    5
    
    Thal Sainik Camp (TSC)
    
    6
    
    Nau Sainik Camp
    
    7
    
    Vayu Sainik Camp
    
    8
    
    Rock Climbing Training Camp (RCTC)
    
    9
    
    Annual Republic Day Camp (RDC)
    
    10
    
    Combined Annual Training Camps (CATC)
    
    11
    
    Hiking and Trekking Camp
    
    12
    
    Army Attachment Camp (AAC)
    
    13
    
    Air force Attachment Camp (AAC)
    
    14
    
    Prime Minister's Rally
    
    15 
    
    Paratroopers Camp
    
    16 
    
    Independence Day Camp (IDC)
    
    17
    
    Social Service Camp (SSC)
    
    18
    
    Youth Exchange Program (YEP)</p>
 </div>
 <div class="col-sm-4">
 <h3>NCC MOTO</h3>
 <p>The need for having motto for the Corps was discussed in the 11th Central Advisory Committee (CAC) meeting held on 11 Aug 1978.
     The mottos suggested were “Duty and Discipline”; “Duty, Unity and Discipline”; “Duty and Unity”; “Unity and Discipline”.
      The final decision for selection of “Unity and Discipline” as motto for the NCC was taken in the 12th CAC meeting held on 12 Oct 1980.
 </p>
 </div>
 <div class="col-sm-4">
 <h3>PURPOSE</h3>
 <p>The National Cadet Corps is a vibrant organization with pool of well-motivated and distinguished boys and girls. 
    It plays a dominant role in nation building and imbibing selfless services, discipline and leadership among youth. 
    NCC Cadets can join Defence services. It instils in the cadets a sense of commitment to the values of National Integration, Nationalism and secularism. 
    These qualities would not only make the youth as responsible citizens, but also help in achieving the vision of developed India It plays commendable role in grooming the cadets both physically and mentally.
     The well-designed curriculum of National Cadet Corps, consisting of myriad training, adventure, cultural and social activities is of immense value to the young generation, enabling them to take on the challenges of the modern world. 
</p>
 </div>
 </div>
 </div>
 <div class="container-fluid">
 <h3>Our CADETS Participated in the event...</h3>
 <div class="row">
 <div class="col-sm-3">
 <img src="https://res.cloudinary.com/dzndk3gyv/image/upload/v1692971096/56b841b7-8de1-447b-921c-edf24be54e82_evcbhy.jpg" class="img-fluid">
 <h4>CATC CAMP</h4>
 </div>
 <div class="col-sm-3">
 <img src="https://res.cloudinary.com/dzndk3gyv/image/upload/v1692971098/c92cf12f-0186-4f39-aa3e-0e11be9d6d77_dwhic2.jpg" class="img-fluid">
 <h4>ATC CAMP</h4>

 </div>
 <div class="col-sm-3">
 <img src="https://res.cloudinary.com/dzndk3gyv/image/upload/v1692971105/IMG_20211218_100809_ddjbnk.jpg" class="img-fluid">
 <h4>FIRING CAMP</h4>

 </div>
 <div class="col-sm-3">
 <img src="https://res.cloudinary.com/dzndk3gyv/image/upload/v1692971096/621ab487-e3d7-4185-b26e-72926b1c571b_z9kwbw.jpg" class="img-fluid">
 <h4>SAILING CAMP</h4>

 </div>
 </div>
 </div>
 </body>
 </html>